*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

:root {
    --heading-color: #080415;
    --desc-color: #51586a;
    --primary-color: #5d3bee;
    --height: 62px;
    --bg-color: #fbfaff;
}

/* Common */
.container--sm {
    width: 946px;
    max-width: calc(100% - 30px);
    margin: 0 auto;
}

.container--lg {
    width: 1330px;
    max-width: calc(100% - 30px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
    height: var(--height);
    line-height: var(--height);
    background: var(--primary-color);
    color: #fdfdfd;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.667;
    border-color: transparent;
    transition: 0.25s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.pri__heading {
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.17;
}

.second__heading {
    color: var(--heading-color);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19;
}

.third__heading {
    color: var(--heading-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
}

.pri__desc {
    display: inline-block;
    color: var(--desc-color);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.667;
}

.second__desc {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.875;
}

/* Header */
.header,
.header-mail,
.nav {
    display: flex;
}

.header {
    padding-top: 20px;
    align-items: center;
    justify-content: space-around;
    background: rgba(251, 250, 255, 0.9);
}

.header--fixed {
    position: sticky;
    top: -10px;
    z-index: 3;
}

.header-mail {
    align-items: center;
}

.header-mail__icon {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    border: 1px solid rgba(93, 59, 238, 0.2);
}

.header-mail__link {
    text-decoration: underline;
    margin-left: 10px;
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    transition: 0.25s;
}

.header-mail__link:hover,
.nav-item__link:hover {
    color: var(--primary-color);
}

.nav-item__link:hover {
    text-shadow: 1px 0 0 var(--primary-color);
}

.logo__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.nav {
    column-gap: 43px;
}

.nav-item__link {
    color: var(--desc-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.875;
    transition: 0.25s;
}

/* Hero */
.hero {
    padding-top: 44px;
    background: var(--bg-color);
}

.hero-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.hero-media {
    position: relative;
    width: 60%;
}

.hero-decor__top {
    position: absolute;
    bottom: 0;
    left: -10%;
    z-index: 0;
}

.hero-decor__bottom {
    position: absolute;
    bottom: 0;
    right: -5%;
    z-index: 0;
}

.hero__img {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 514px;
    height: 705px;
    object-fit: cover;
    z-index: 1;
}

.hero-content {
    width: 40%;
    position: relative;
    margin-top: 150px;
    z-index: 1;
}

.hero__heading {
    width: 100%;
    color: var(--heading-color);
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
}

.hero__desc {
    width: 60%;
    margin-top: 20px;
}

.hero-action {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.hero__link {
    display: inline-block;
    margin-left: 30px;
    padding: 16px 0;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration-line: underline;
    transition: 0.25s;
}

.hero__link:hover {
    color: var(--primary-color);
}

.hero-social,
.hero-list,
.hero-item {
    display: flex;
}

.hero-social {
    position: relative;
    align-items: center;
    margin-top: 104px;
    z-index: 2;
}

.hero-social__title {
    margin-right: 15px;
}

.hero-list {
    column-gap: 20px;
    position: relative;
    margin-right: 165px;
}

.hero-item {
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: var(--heading-color);
    transition: 0.25s;
}

.hero-item:hover,
.hero-item:hover .hero-item__link {
    cursor: pointer;
    opacity: 0.8;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.hero-item__link {
    color: var(--heading-color);
    transition: 0.25s;
}

/* Client */
.client {
    margin-top: 100px;
}

.client-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.client__title {
    display: inline-flex;
    width: 350px;
}

.client__title::before {
    content: "";
    width: 86px;
    height: 2px;
    margin-right: 10px;
    margin-top: 24px;
    background: var(--primary-color);
}

.client-top__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 34px;
}

/* Client special */
.client-special {
    margin-top: 140px;
}

.client-content {
    text-align: center;
}

.client__desc {
    margin: 20px auto;
    width: 45%;
}

.client-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    column-gap: 30px;
}

.client-item {
    padding: 32px 42px;
    background: var(--bg-color);
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

.client-top-item__link {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.client-top-item__name {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.36;
    white-space: nowrap;
}

.client-item:hover {
    transform: translateY(-16px);
}

.client-item__heading {
    margin-top: 22px;
}

.client-item__desc {
    margin-top: 15px;
}

/* Project */
.project {
    padding: 86px 0;
    margin-top: 140px;
    background: var(--primary-color);
}

.project-content__wrap {
    align-items: center;
}

.project-list {
    margin-top: 70px;
}

.project-list__wrap {
    row-gap: 30px;
}

.project__heading,
.project__desc {
    color: var(--bg-color);
}

.project__desc {
    margin-left: 28px;
    color: #fff;
}

.project-item {
    padding: 24px 24px 24px 34px;
    position: relative;
    background: #fff;
    display: flex;
    transition: 0.25s;
    cursor: pointer;
}

.project-item:hover {
    transform: translateY(-10px);
}

.project-item:hover .project-item__link {
    color: var(--primary-color);
}

.project-item__desc {
    margin-top: 10px;
}

.project-item__decor {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.project-item__img {
    position: relative;
    z-index: 2;
    width: 246px;
    height: 187px;
    object-fit: cover;
}

.project-item__link {
    display: inline-block;
    margin-top: 20px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.667;
    text-decoration: underline;
    transition: 0.25s;
}

.project-cta {
    display: flex;
    justify-content: center;
}

.project-cta__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    background: #fff;
    color: var(--heading-color);
}

/* Statistic */
.stat {
    margin-top: 140px;
}
.stat-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    border-bottom: 2px solid #ccc;
}

.stat-intro__title {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.stat-intro__hand {
    margin-left: 10px;
}

.stat__heading {
    margin-top: 10px;
}

.stat__desc {
    text-align: center;
    margin-top: 15px;
    width: 60%;
}

.stat-value {
    padding: 20px 0;
    border-bottom: 2px solid #ccc;
    display: flex;
    justify-content: space-around;
}

.stat-value__number {
    display: inline-block;
    border-bottom: 3px solid var(--heading-color);
}

.stat-video {
    width: 100%;
    height: 628px;
    margin-top: 70px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.stat-video__icon {
    position: absolute;
    top: 45%;
    left: 45%;
    transition: 0.25s;
}

.stat-video__icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.stat-video__label {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.stat-video__thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Feedback */
.feedback {
    position: relative;
    margin-top: -280px;
    padding-top: 473px;
    padding-bottom: 74px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}

.feedback__desc {
    margin-top: 20px;
    width: 570px;
}

.feedback-client__desc {
    margin-top: 60px;
    width: 680px;
    color: var(--desc-color);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.667;
}

.feedback-client__info {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.feedback-client__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f29863;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.feedback-client__img {
    width: 100%;
    height: auto;
}

.feedback-client__name {
    color: var(--heading-color);
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.33;
}

.feedback-dots {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    z-index: 1;
}

.feedback-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.feedback-dot--active {
    width: 20px;
    height: 20px;
    border: 1px solid var(--primary-color);
    background: #fff;
}

.feedback-dot--active::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--primary-color);
}

.feedback-decor__left,
.feedback-decor__right {
    position: absolute;
    bottom: 0;
    z-index: 0;
}

.feedback-decor__left {
    left: 0;
}

.feedback-decor__right {
    right: 0;
}

/* Question */
.question {
    margin-top: 95px;
}

.question__heading {
    width: 575px;
}

.question-list {
    margin-top: 60px;
}

.question-item {
    padding: 60px 0 0 22px;
    width: 83%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--heading-color);
}

.question-item--active {
    border-color: var(--primary-color);
}

.question-item--active .question-item__heading {
    color: var(--primary-color);
}

.question-item__desc {
    width: 487px;
    margin: 22px 0;
}

.question-toggle {
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.25s;
}

.question-toggle--active {
    border-color: #e0d9fc;
    color: var(--primary-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.question-toggle:hover {
    opacity: 0.8;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Space working */
.spacework {
    margin-top: 160px;
}

.spacework-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spacework__desc {
    width: 45%;
    margin-top: 20px;
}

.spacework-mail {
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    border-bottom: 2px solid var(--primary-color);
    transition: 0.25s;
}

.spacework-mail:hover {
    opacity: 0.8;
}

.spacework-list {
    margin-top: 70px;
}

.spacework__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Booking */
.booking {
    position: relative;
    padding: 68px 0;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bg-color);
}

.booking-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}

.booking__heading {
    margin: 24px 0;
}

.booking__desc {
    width: 43%;
}

.booking__btn {
    max-width: 170px;
    display: flex;
    margin-top: 30px;
}

.booking-decor--left,
.booking-decor--center,
.booking-decor--right {
    position: absolute;
    z-index: 0;
}

.booking-decor--left {
    left: 0;
    bottom: 0;
}

.booking-decor--right {
    right: 0;
    top: 0;
}
